<h1 class="main-headline text-center">Welcome to Bullock's Bikeshop Berlin</h1>
<h2 class="sub-headline text-center">The Best Place to Find Used Bikes in Berlin</h2>
<div class="row">
	<div class="container">
		<div class="col-xs-12">
			<%= image_tag("bike.png", alt:"Racing bike image", class: "img-responsive center-block") %>
		</div><!-- end image container -->
	</div><!-- end bootstrap container -->
</div><!-- end boostrap row -->
