<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<p class="h3 text-center">Thank you for your purchase!</p>
		<div class="col-xs-12">
			
		</div><!-- end image container -->
		</div>
	</div><!-- end bootstrap container -->
</div><!-- end boostrap row -->